@font-face {
    font-family: "Roboto Black";
    src: url("./Assets/Fonts/Roboto-Black.ttf") format("ttf");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("./Assets/Fonts/Roboto-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("./Assets/Fonts/Roboto-Medium.ttf") format("ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("./Assets/Fonts/Roboto-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Roboto Light";
    src: url("./Assets/Fonts/Roboto-Light.ttf") format("ttf");
}

@font-face {
    font-family: "Roboto Thin";
    src: url("./Assets/Fonts/Roboto-Thin.ttf") format("ttf");
}

body {
    margin: 0;
    padding: 0;
}