.avatar-container {
    display: flex;
    align-items: center;
    gap: 14px;
    color: #ffffff;
    padding: 24px 30px;
    transition: all 0.5s;
    cursor: pointer;
}

.avatar-container:hover {
    background-color: #004570;
}

.avatar-info-container {
    display: flex;
    flex-direction: column;
}

.avatar-name {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.avatar-id {
    margin-top: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
}
